---
layout: archive
permalink: /year-archive/
title: "Q's Blog"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
  - /blog/
  - /blog.html
header:
  overlay_image: elkton-banner.jpg
  overlay_filter: 0.15
  caption: "Photo: QDR"
---

Welcome to Quentin's blog of ideas on ecology, sustainability, and R code! To see old blog posts that Q wrote before 2019, please visit <a href="https://qdrsite.wordpress.com">Q's old blog</a>.

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<form style="border:1px solid #ccc;padding:3px;text-align:center;max-width:50%;margin-left:auto;margin-right:auto;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=QuentinDRead', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address to get new posts in your inbox:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="QuentinDRead" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
